body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Title-container{
  width: 100%;
  height: 10%;
  text-align: center;
}

.first-title{
  text-align: center;
  color: #304061; 
  font-size: 40px;
  margin-bottom: 0;
}



.title {
  color: black;
 
}

.subtitles{
  width: 40%;
  margin: 0 auto;
  display: flex;
  
  font-size: 16px;
}

.sub-title-1 {
  
  padding-right: 40px;
  color: #304061;
}



.sub-title-2{
  color: #c8c8c8;
  font-weight: 100;
}

.sub-title-2 h5{
  padding-left: 40px;
  border-left: 2px solid #c8c8c8;
}

.text-container {
  width: 70%;
  margin: 0 auto;
}

p {
  text-align: center;
  color: #838383;
  font-size: 19px;
}

.image{
  width: 65%;
  text-align: right;
  margin: auto;
}

img {
  margin: 0;
  height: 90vh;
  width: 95%;
}

.container-bottom{
  padding-top: 20px;
  display: flex;
}

.info-container{
 background-color: #304061;
 width: 32%;
 color: #fff;
 font-size: 20px;
 text-align: center;
 box-shadow: 2px -1px 41px -11px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px -1px 41px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 2px -1px 41px -11px rgba(0,0,0,0.75);
border-radius: 10px;
margin-right: 20px;
}

.info-container h3{
  text-align: left;
  padding-left: 10px;
}
.info-container img{
  height: 150px;
  width: 150px;
}

.info{
  display: flex;
  justify-content: space-evenly;
  
}

.text-info p{
  color: #fff;
  margin-bottom: 0;
}




